<!--<script src="templates/name/of/js.js"></script>-->
<!-- build:js({.tmp,app}) scripts/scripts_templates.js -->
<!--Jquery Mobile Menu Will load when media screen less than 640-->
<script type="text/javascript" src="templates/main_template/scripts/jquery.mobilemenu/jquery.mobilemenu.js">
</script>
<script src="templates/main_template/scripts/scroll-effect.js">
</script>
<script src="templates/main_template/scripts/menu.js">
</script>

<!--Jquery Mobile Menu-->
<!-- Theme Js-->
<script type="text/javascript" src="templates/main_template/scripts/plugins.js">
</script>
<script type="text/javascript" src="templates/main_template/scripts/theme.js">
</script>
<script type="text/javascript" src="templates/main_template/scripts/your-custom-code.js">
</script>
<script type="text/javascript" src="templates/main_template/scripts/theme-element.js">
</script>
<!--end of Theme js-->
<!-- Core required JS files -->
<!--Page wise js load for individual page only-->
<!--<script type="text/javascript" src="templates/main_template/scripts/rs-plugin/js/jquery.themepunch.revolution.min.js">
</script>-->
<script type="text/javascript" src="templates/main_template/scripts/jquery.prettyPhoto.js">
</script>
<!--Pretty photo , Smooth progress and Rev Slider and Carosule Autoplay-->
<script type="text/javascript" src="templates/main_template/scripts/pageview/revusliderpages.js"></script>
<script type="text/javascript" src="templates/main_template/scripts/pageview/prettyphoto.js"></script>
<script type="text/javascript" src="templates/main_template/scripts/pageview/smoothprogress.js"></script>
<script type="text/javascript" src="templates/main_template/scripts/pageview/carosuelautoplay.js"></script>
<!--End of Pretty photo , Smooth progress and Rev Slider-->
<script src="templates/main_template/scripts/jquery.easing.1.3.js">
</script>
<script src="templates/main_template/scripts/bootstrap-progressbar.js">
</script>
<script src="templates/main_template/scripts/liteaccordion.jquery.js">
</script>
<script src="templates/main_template/scripts/liteaccordion.jquery.min.js">
</script>


<!-- endbuild -->