<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Notification email template</title>
    <style type="text/css">
        .auto-style1 {
            height: 19px;
        }
    </style>
</head>

<body bgcolor="#8d8e90">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#8d8e90">
        <tbody>
            <tr>
                <td>
                    <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td align="center">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="10%">&nbsp;</td>
                                                <td width="80%" align="left" valign="top">
                                                    <font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#010101; font-size:18px">
                                                        <strong><em><!--title--></em></strong></font><br><br>
                                                    <font style="font-family: Verdana, Geneva, sans-serif; color:#666766; font-size:13px; line-height:21px">
                                                        <!--body-->
                                                        <br /><br />
                                                        Regards,<br />
                                                        iocoded.com
                                                    </font>
                                                </td>
                                                <td width="10%">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td align="right" valign="top"></td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="auto-style1"></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center"></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>


</body>
</html>
