<!-- Footer -->
<footer id="footer" class="clearfix">
    <section id="footer-one">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 signup">
                    <h3 class="signup-text">
                        Sign-up for our free newslatter for all of our updates at first
                    </h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 email-input-submit from">
                    <form class="form-inline rox-signup" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">
                                Email address
                            </label>
                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter Address">
                        </div>
                        <button type="submit" class="btn btn-default rox-submit">
                            SUBMIT
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="footer-two">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <a class="img-responsive fotter-logo">none</a>
                    <p class="fotter-paragraph-under-logo">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.
                    </p>
                    <p class="social-icon-layout">
                        <a href="#">
                            <i class="fa fa-twitter icon-social-media">
                            </i>
                        </a>
                        <a href="#">
                            <i class="fa fa-facebook icon-social-media">
                            </i>
                        </a>
                        <a href="#">
                            <i class="fa fa-linkedin icon-social-media">
                            </i>
                        </a>
                        <a href="#">
                            <i class="fa fa-maxcdn icon-social-media">
                            </i>
                        </a>
                        <a href="#">
                            <i class="fa fa-google-plus icon-social-media">
                            </i>
                        </a>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <h1 class="footer-header-layout">
                        Tag widgets
                    </h1>
                    <div class="tag-widgets-btn">
                        <button class="btn btn-default btn-graphic">
                            Graphics
                        </button>
                        <button class="btn btn-default" id="btn-dreamweaver">
                            Dreamweaver
                        </button>
                        <button class="btn btn-default btn-web">
                            Web
                        </button>
                        <button class="btn btn-default btn-wordpress">
                            Wordpress
                        </button>
                        <button class="btn btn-default btn-web-two">
                            Web
                        </button>
                        <button class="btn btn-default btn-tutorial">
                            Tutorial
                        </button>
                        <button class="btn btn-default btn-photograpy">
                            Photograpy
                        </button>
                        <button class="btn btn-default btn-php">
                            php
                        </button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <h1 class="footer-header-layout">
                        Contact us
                    </h1>
                    <i class="fa fa-home icon-address">
                    </i>
                    <p class="detail-address-other">
                        Address: 500 Main Street
                    </p>
                    <p class="detail-address-other">
                        Toronto, Ontario
                    </p>
                    <p class="detail-address">
                        L3R 1L5, Canada
                    </p>
                    <i class="fa fa-envelope icon-address">
                    </i>
                    <p class="detail-address">
                        Phone: (416) 431 4437
                    </p>
                    <i class="fa fa-phone icon-address">
                    </i>
                    <p class="detail-address">
                        Email: <a href="#" class="link-color">
                            contact@first.com
                        </a>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <h1 class="footer-header-layout">
                        Fliker wedget
                    </h1>
                    <div class="fliker-photo">
                        <a href="images/01.jpg" rel="prettyPhoto[gal2]">
                            <img src="images/01.jpg" class="img-responsive" alt="Responsive image">
                        </a>
                        <a href="images/02.jpg" rel="prettyPhoto[gal2]">
                            <img src="images/02.jpg" class="img-responsive" alt="Responsive image">
                        </a>
                        <a href="images/04.jpg" rel="prettyPhoto[gal2]">
                            <img src="images/04.jpg" class="img-responsive" alt="Responsive image">
                        </a>
                        <a href="images/footer-5.png" rel="prettyPhoto[gal2]">
                            <img src="images/footer-5.png" class="img-responsive" alt="Responsive image">
                        </a>
                        <a href="images/05.jpg" rel="prettyPhoto[gal2]">
                            <img src="images/05.jpg" class="img-responsive" alt="Responsive image">
                        </a>
                        <a href="images/06.jpg" rel="prettyPhoto[gal2]">
                            <img src="images/06.jpg" class="img-responsive" alt="Responsive image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footer-three">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p>
                        Copyright 2013 by themerox&copy;
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fotter-faq-support-contact">
                    <a href="#" class="link-color">
                        FAQ
                    </a>
                    / <a href="#" class="link-color">
                        SUPPORT
                    </a>
                    / <a href="#" class="link-color">
                        CONTACT
                    </a>
                </div>
            </div>
        </div>
    </section>
</footer>
<!-- /Footer -->
