  <!--header-top-->
<div class="header-top clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <!-- Top right side content -->
                <ul class="fa-ul list-inline top-info">
                    <li>
                        <i class="fa fa-phone">
                        </i>
                        Call us on 0880 0123 4567890
                    </li>
                    <li>
                        <i class="fa fa-envelope">
                        </i>
                        <a href="mailto:info@right.com" title="mail">
                            info@right.com
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Top right side content -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="list-inline top-social">
                    <li>
                        <a href="#" title="social">
                            <i class="fa fa-twitter">
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="social">
                            <i class="fa fa-facebook">
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="social">
                            <i class="fa fa-google-plus">
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="social">
                            <i class="fa fa-skype">
                            </i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/header-top-->
<!--header starts-->
<header class="rox-header">
    <div class="menu-wall">
        <div class="container">
            <div class="navbar-header">
                <a class="logo navbar-brand" href="index.html"></a>
            </div>
            <div id="rox-search" class="search">
                <form id="searchForm" action="#blank" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control search" name="search" id="search" onfocus="if(this.value == 'Search here...') { this.value = ''; }" value="Search here...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="icon icon-search">
                                </i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <div id="mobilemenu" class="mobile-menu">
            </div>
            <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars">
                </i>
            </button>
            <div class="navbar-collapse nav-main-collapse collapse">
                <nav class="nav-main mega-menu">
                    <ul class="nav nav-pills nav-main" id="rox-main-menu">
                        <!-- Drop Down menu Home -->
                        <li class="dropdown rox-submenu-item active">
                            <a href="index.html" class="dropdown-toggle">
                                Home
                            </a>
                            <ul class="dropdown-menu">
                                <div class="rox-menu-wrapper">
                                    <li class="dropdown-submenu dropdown">
                                        <a href="rev-style-3.html">
                                            Business
                                        </a>
                                        <ul class="dropdown-menu">
                                            <div class="rox-menu-wrapper">
                                                <li>
                                                    <a href="rev-style-1.html">
                                                        Layout One
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="rev-style-3.html">
                                                        Layout Two
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="rev-style-2.html">
                                                        Layout Three
                                                    </a>
                                                </li>
                                            </div>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="blog.html">
                                            Magazine View
                                        </a>
                                    </li>
                                    <li>
                                        <a href="full-screen-slider.html">
                                            One Page View
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about-me.html">
                                            Personal Presentation
                                        </a>
                                    </li>
                                    <li>
                                        <a href="sequence-slider-style-1.html">
                                            Creative
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </li>
                        <!-- End Of Drop Down Menu Home -->
                        <!-- Start Sliders Menu -->
                        <li class="dropdown rox-submenu-item">
                            <a href="#" class="dropdown-toggle">
                                Slider
                            </a>
                            <ul class="dropdown-menu">
                                <div class="rox-menu-wrapper">
                                    <li class="dropdown-submenu">
                                        <a href="rev-slider.html">
                                            Revolution Slider
                                        </a>
                                        <ul class="dropdown-menu">
                                            <div class="rox-menu-wrapper">
                                                <li>
                                                    <a href="rev-style-1.html">
                                                        Style one
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="rev-style-2.html">
                                                        Style two
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="rev-style-3.html">
                                                        style Three
                                                    </a>
                                                </li>
                                            </div>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="sequence-slider.html">
                                            Sequence Slider
                                        </a>
                                        <ul class="dropdown-menu">
                                            <div class="rox-menu-wrapper">
                                                <li>
                                                    <a href="sequence-slider-style-1.html">
                                                        Style one
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="sequence-slider-style-2.html">
                                                        Style two
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="sequence-slider-style-3.html">
                                                        style Three
                                                    </a>
                                                </li>
                                            </div>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="fra-style-1.html">
                                            Fraction Slider
                                        </a>
                                    </li>
                                    <li>
                                        <a href="carousel-slider.html">
                                            Carousel Slider
                                        </a>
                                    </li>
                                    <li>
                                        <a href="nivo-slider.html">
                                            Nivo Slider
                                        </a>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="full-screen-slider.html">
                                            Full Screen Slider
                                        </a>
                                        <ul class="dropdown-menu">
                                            <div class="rox-menu-wrapper">
                                                <li>
                                                    <a href="full-screen-slider1.html">
                                                        Style one
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="full-screen-slider2.html">
                                                        Style two
                                                    </a>
                                                </li>
                                            </div>
                                        </ul>
                                    </li>
                                </div>
                            </ul>
                        </li>
                        <!-- End Of Sliders Menu -->
                        <!--Start Features Mega Menu -->
                        <li class="dropdown rox-mega-menu-item rox-menu-fullwidth">
                            <a class="dropdown-toggle" href="#">
                                Features
                            </a>
                            <ul class="dropdown-menu">
                                <div class="rox-menu-wrapper">
                                    <div class="rox-wrapper-ingrid fr-border">
                                        <h3 class="title text-center">
                                            Check out the <span class="amazing-title">amazing features</span> of Right
                                        </h3>
                                        <h3 class="sub-title text-center">
                                            You must like what we made,we love what we do
                                        </h3>
                                        <li>
                                            <div class="rox-mega-menu-content">
                                                <div class="row">
                                                    <div class="col-md-6 rox-col">
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-gear submenu-icon">
                                                                    </i>
                                                                    <div class="sub-content">
                                                                        <h3>
                                                                            Clean and Organized <br />
                                                                            <span>
                                                                                clean and well documented code
                                                                            </span>
                                                                        </h3>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-folder submenu-icon">
                                                                    </i>
                                                                    <div class="sub-content">
                                                                        <h3>
                                                                            Files and Folders <br />
                                                                            <span>
                                                                                well structured and organized
                                                                            </span>
                                                                        </h3>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-file-text-o submenu-icon">
                                                                    </i>
                                                                    <div class="sub-content">
                                                                        <h3>
                                                                            Well Scripted <br />
                                                                            <span>
                                                                                we used popular vendor script
                                                                            </span>
                                                                        </h3>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-6 rox-col">
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-book submenu-icon">
                                                                    </i>
                                                                    <div class="sub-content">
                                                                        <h3>
                                                                            HTML5 and CSS3 Code <br />
                                                                            <span>
                                                                                right based on html5& css3
                                                                            </span>
                                                                        </h3>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-asterisk submenu-icon">
                                                                    </i>
                                                                    <div class="sub-content">
                                                                        <h3>
                                                                            Included layered psd file <br />
                                                                            <span>
                                                                                all psd file included in right
                                                                            </span>
                                                                        </h3>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-mobile submenu-icon">
                                                                    </i>
                                                                    <div class="sub-content">
                                                                        <h3>
                                                                            Included mobile menu <br />
                                                                            <span>
                                                                                included the mobile menu jequery plugin
                                                                            </span>
                                                                        </h3>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <h3 class="extra-title text-center">
                                            and <br>
                                            many more
                                        </h3>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <!--end Features Mega Menu -->
                        <!-- Start Sortcodes Menu -->
                        <li class="dropdown rox-submenu-item">
                            <a href="#" class="dropdown-toggle">
                                Sortcodes
                            </a>
                            <ul class="dropdown-menu">
                                <div class="rox-menu-wrapper">
                                    <li>
                                        <a href="typography.html">
                                            Typography
                                        </a>
                                    </li>
                                    <li>
                                        <a href="buttons.html">
                                            Buttons
                                        </a>
                                    </li>
                                    <li>
                                        <a href="accordion.html">
                                            Accordion
                                        </a>
                                    </li>
                                    <li>
                                        <a href="column-grid.html">
                                            Column Grid
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tab.html">
                                            Tab
                                        </a>
                                    </li>
                                    <li>
                                        <a href="alert.html">
                                            Alert
                                        </a>
                                    </li>
                                    <li>
                                        <a href="glyphicons.html">
                                            Glyphicons
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </li>
                        <!-- End Of Sortcodes Menu -->
                        <!-- Start Portfolio Menu -->
                        <li class="dropdown rox-submenu-item">
                            <a href="portfolio.html" class="dropdown-toggle">
                                Portfolio
                            </a>
                            <ul class="dropdown-menu">
                                <div class="rox-menu-wrapper">
                                    <li>
                                        <a href="two-col-portfolio.html">
                                            2 Column Portfolio
                                        </a>
                                    </li>
                                    <li>
                                        <a href="three-col-portfolio.html">
                                            3 Column Portfolio
                                        </a>
                                    </li>
                                    <li>
                                        <a href="portfolio-details.html">
                                            Portfolio Details
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </li>
                        <!-- End Of Portfolio Menu -->
                        <!--Start Our Works Mega Menu -->
                        <li class="dropdown rox-mega-menu-item rox-menu-fullwidth">
                            <a class="dropdown-toggle" href="#">
                                Our Works
                            </a>
                            <ul class="dropdown-menu rox-wrapper-ingrid">
                                <div class="rox-menu-wrapper">
                                    <li>
                                        <div class="rox-mega-menu-content">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 recent-work-item-main">
                                                    <div class="recent-work-item">
                                                        <img src="images/rw1.png" class="img-responsive work-item" alt="Responsive image">
                                                        <div class="recent-work-item-hover">
                                                            <div class="recent-work-project-title">
                                                                <h1>
                                                                    Project title
                                                                </h1>
                                                                <button class="btn btn-default">
                                                                    Web design
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="recent-work-item-hover-btn">
                                                            <a href="#">
                                                                <img src="images/iconimg2.png" class="img-responsive iconimg" alt="Responsive image">
                                                            </a>
                                                            <a href="images/rw1.png" rel="prettyPhoto[gal4]">
                                                                <img src="images/iconimg1.png" class="img-responsive iconimg" alt="Responsive image">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 recent-work-item-main">
                                                    <div class="recent-work-item">
                                                        <img src="images/rw2.png" class="img-responsive work-item" alt="Responsive image">
                                                        <div class="recent-work-item-hover">
                                                            <div class="recent-work-project-title">
                                                                <h1>
                                                                    Project title
                                                                </h1>
                                                                <button class="btn btn-default">
                                                                    Web design
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="recent-work-item-hover-btn">
                                                            <a href="#">
                                                                <img src="images/iconimg2.png" class="img-responsive iconimg" alt="Responsive image">
                                                            </a>
                                                            <a href="images/rw2.png" rel="prettyPhoto[gal4]">
                                                                <img src="images/iconimg1.png" class="img-responsive iconimg" alt="Responsive image">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 recent-work-item-main">
                                                    <div class="recent-work-item">
                                                        <img src="images/rw3.png" class="img-responsive work-item" alt="Responsive image">
                                                        <div class="recent-work-item-hover">
                                                            <div class="recent-work-project-title">
                                                                <h1>
                                                                    Project title
                                                                </h1>
                                                                <button class="btn btn-default">
                                                                    Web design
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="recent-work-item-hover-btn">
                                                            <a href="#">
                                                                <img src="images/iconimg2.png" class="img-responsive iconimg" alt="Responsive image">
                                                            </a>
                                                            <a href="images/rw3.png" rel="prettyPhoto[gal4]">
                                                                <img src="images/iconimg1.png" class="img-responsive iconimg" alt="Responsive image">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </li>
                        <!--End Our Works Mega Menu -->
                        <!-- Start Pages  Drop Down sub menu -->
                        <li class="dropdown rox-submenu-item">
                            <a href="#" class="dropdown-toggle">
                                Pages
                            </a>
                            <ul class="dropdown-menu">
                                <div class="rox-menu-wrapper">
                                    <!-- Start About Us Drop Down sub menu -->
                                    <li class="dropdown-submenu dropdowns">
                                        <a href="#" class="dropdown-toggle">
                                            About
                                        </a>
                                        <ul class="dropdown-menu">
                                            <div class="rox-menu-wrapper">
                                                <li>
                                                    <a href="about-us-extended.html">
                                                        About Us Extended
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="about-us-basic.html">
                                                        About Us Basic
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="about-me.html">
                                                        About Me
                                                    </a>
                                                </li>
                                            </div>
                                        </ul>
                                    </li>
                                    <!-- End of About Us Drop Down sub menu -->
                                    <!-- Start Blog Drop Down sub menu -->
                                    <li class="dropdown-submenu dropdowns">
                                        <a href="blog.html" class="dropdown-toggle">
                                            Blog
                                        </a>
                                        <ul class="dropdown-menu">
                                            <div class="rox-menu-wrapper">
                                                <li>
                                                    <a href="blog-detail.html">
                                                        Blog Detail
                                                    </a>
                                                </li>
                                            </div>
                                        </ul>
                                    </li>
                                    <!-- End of Blog Drop Down sub menu -->
                                    <li>
                                        <a href="career.html">
                                            Career
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pricing.html">
                                            Pricing
                                        </a>
                                    </li>
                                    <li>
                                        <a href="registration.html">
                                            Registration
                                        </a>
                                    </li>
                                    <li>
                                        <a href="privacy.html">
                                            Privacy Policy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="terms.html">
                                            Terms of Use
                                        </a>
                                    </li>
                                    <li>
                                        <a href="contact-us.html">
                                            Contact Us
                                        </a>
                                    </li>
                                    <li>
                                        <a href="404.html">
                                            404
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </li>
                        <!-- End of Pages Drop Down sub menu -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--header end-->