#portfolio-details{
	padding: 3% 0;
}
#portfolio-details .carousel{
	margin: 10px 0 30px 0;
}
.portfolio-carosel-inner{
	border-width:10px;
	border-style: solid;
}
.portfolio-carosel-indicators{
	bottom: -25px;
}

.project-image img{
	width: 100%;
	height: auto;
}
.project-head-title .preset-color{
	font-size: 18px;
}
.portfolio-info ul{
	padding: 10px 0;
}
.portfolio-info ul li{
	display: inline;
	margin: 0 10px;
}
.portfolio-info ul li:first-child{
	margin-left: 0;
}
.btn-live{
	margin: 20px 0;
}
.btn-live,.btn-live:hover{
	color: #fff!important;
}
.btn-live:hover{
	border-color:transparent;
}

.portfolio-expand .client-nick{
	padding: 20px 0;
}

blockquote{
	font-style: italic;
}

blockquote i{
	font-size: 20px;
}

blockquote i:first-child{
	margin-right: 10px;
}

blockquote i:last-child{
	margin-left: 10px;
}